@import "../../../uniform/uniform";

.container {
    @include centerDiv(column);
    background-color: white;
    border-radius: 10px;
    width: 60%;
    padding: 2rem 0;
    margin-top: 10rem;


    .newTaskWrapper {
        @include centerDiv(column);

        .data {
            @include centerDiv(column);
            width: 50%;
            margin: 1rem 0;

            label {
                width: 100%;
                text-align: left;
            }

            input,
            select {
                width: 100%;
                padding: 0.5rem 1rem;
                color: $accent;
                border: 1px solid $accent;
                border-radius: 5px;
                margin-top: .5rem;
            }

            button {
                @include myButton();
                background-color: $accent;
                color: white;
            }
        }
    }
}