$red: #E52020;
$green: #008C00;
$accent: #3A001E;
$accent2: #7D5151;

@mixin centerDiv($dir) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $dir;
    width: 100%;
}

@mixin centerImg() {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin myButton() {
    border-radius: 5px;
    background-color: white;
    color: $green;
    margin: 0 1rem;
    padding: 1rem 2rem;
    border: none;
    transition: all .5s;

    &:hover {
        cursor: pointer;
        transform: scale(1.1);
        border-radius: 0;
    }
}