.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
}
.container .img {
  width: 100%;
  height: 100vh;
  background-image: url("../../../public/kossuth3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.container .formWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
.container .formWrapper .text {
  background-color: #E52020;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 1rem 0.5rem;
  height: 100%;
}
.container .formWrapper .text h1 {
  color: white;
  margin-bottom: 1rem;
  font-size: 50px;
}
.container .formWrapper .text h4 {
  color: white;
}
.container .formWrapper form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
  background-color: white;
  padding-top: 2rem;
  height: 100%;
}
.container .formWrapper form label {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.container .formWrapper form label p {
  color: #3A001E;
  width: 90%;
  text-align: left;
}
.container .formWrapper form label input {
  width: 90%;
  padding: 1rem;
  margin: 0.5rem 0;
  border: 1px solid #3A001E;
  border-radius: 5px;
}
.container .formWrapper form .buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  background-color: #008C00;
  padding: 2rem 0 0 0;
  height: 100%;
}
.container .formWrapper form .buttonWrapper button {
  border-radius: 5px;
  background-color: white;
  color: #008C00;
  margin: 0 1rem;
  padding: 1rem 2rem;
  border: none;
  transition: all 0.5s;
}
.container .formWrapper form .buttonWrapper button:hover {
  cursor: pointer;
  transform: scale(1.1);
  border-radius: 0;
}
.container .formWrapper .buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  background-color: #008C00;
  padding: 1rem 0 2rem 0;
  height: 50%;
  align-items: flex-start;
}
.container .formWrapper .buttonWrapper button {
  border-radius: 5px;
  background-color: white;
  color: #008C00;
  margin: 0 1rem;
  padding: 1rem 2rem;
  border: none;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  width: auto;
  height: 3rem;
}
.container .formWrapper .buttonWrapper button:hover {
  cursor: pointer;
  transform: scale(1.1);
  border-radius: 0;
}
.container .formWrapper .buttonWrapper button .googleImg {
  width: 30px;
  height: 30px;
  margin-right: 1rem;
  background-image: url("../../../public/googleimg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}/*# sourceMappingURL=page.module.css.map */